[submodule "nginx"]
	path = nginx
	url = https://github.com/nerdzeu/docker-nginx
[submodule "php"]
	path = php
	url = https://github.com/nerdzeu/docker-php
[submodule "nerdzcrush"]
	path = nerdzcrush
	url = https://github.com/nerdzeu/docker-NERDZCrush.git
[submodule "api"]
	path = api
	url = https://github.com/nerdzeu/nerdz-api
