[submodule "nginx"]
	path = nginx
	url = https://github.com/nerdzeu/docker-nginx
[submodule "php"]
	path = php
	url = https://github.com/nerdzeu/docker-php
[submodule "camo"]
	path = camo
	url = https://github.com/nerdzeu/docker-camo
