version: '3'

networks:
  net:

services:
    postgres:
      image: postgres:13.2
      restart: unless-stopped
      expose:
        - "5432"
      volumes:
        - ./postgres/init:/docker-entrypoint-initdb.d/
        - ./postgres/data:/var/lib/postgresql/data
      environment:
        - POSTGRES_PASSWORD=passwd
      networks:
        - net
      logging:
        driver: "json-file"
        options:
           max-size: "500k"
           max-file: "10"

    php:
      image: nerdzeu/docker-php:1.0.2
      restart: unless-stopped
      expose:
        - "9000"
      depends_on:
        - postgres
      volumes:
        # NOTE: the mount point MUST be the same of
        # nginx, even if the php-fpm "desired" volume
        # is different.
        # This is needed because fastcgi passes the
        # FULL path of the PHP script.
        - ./php/websites:/srv/http
      networks:
        - net
      logging:
        driver: "json-file"
        options:
           max-size: "500k"
           max-file: "10"

    nginx:
      image: nerdzeu/docker-nginx:1.0.0
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      depends_on:
        - certbot
        - php
        - api
        - camo
        - apidoc
        #- nerdzcrush

      volumes:
        - ./php/websites:/srv/http
        - ./nginx/conf.d:/etc/nginx/conf.d
        - ./certbot/conf:/etc/letsencrypt
        - ./certbot/www:/var/www/certbot
      entrypoint: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload -g \"daemon off; load_module /etc/nginx/modules/ngx_http_perl_module.so;\"; done & nginx -g \"daemon off; load_module /etc/nginx/modules/ngx_http_perl_module.so;\"'"
      networks:
        - net
      logging:
        driver: "json-file"
        options:
           max-size: "500k"
           max-file: "10"

    certbot:
      image: certbot/certbot
      restart: unless-stopped
      volumes:
        - ./certbot/conf:/etc/letsencrypt
        - ./certbot/www:/var/www/certbot
      entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
      networks:
        - net

    camo:
      image: nerdzeu/docker-camo:1.0.0
      restart: unless-stopped
      expose:
        - "8081"
      environment:
        - CAMO_KEY=YOUR_KEY
      networks:
        - net

    redis:
      image: redis:5.0
      restart: unless-stopped
      expose:
        - "6379"
      volumes:
        - ./redis/data:/data
      networks:
        - net
      logging:
        driver: "json-file"
        options:
           max-size: "500k"
           max-file: "10"

#    nerdzcrush:
#      image: nerdzeu/docker-nerdzcrush:1.0.0
#      restart: unless-stopped
#      expose:
#        - "9999"
#      depends_on:
#        - redis
#      volumes:
#        - ./nerdzcrush/mediacrush:/home/mediacrush
#        - ./nerdzcrush/storage:/home/mediacrush/MediaCrush/storage/
#      networks:
#        - net
#      logging:
#        driver: "json-file"
#        options:
#           max-size: "500k"
#           max-file: "10"

    api:
      image: nerdzeu/nerdz-api:1.0.2
      restart: unless-stopped
      expose:
        - "8080"
      depends_on:
        - postgres
      volumes:
        - ./api/runtime:/go/runtime
        - ./php/websites/nerdz.eu:/srv/http/nerdz.eu/
      environment:
        - CONF_FILE=/go/runtime/config.json
      networks:
        - net
      logging:
        driver: "json-file"
        options:
           max-size: "500k"
           max-file: "10"

    apidoc:
      image: quay.io/goswagger/swagger:latest
      restart: unless-stopped
      expose:
        - "40455"
      volumes:
        - ./api/doc/swagger:/api
      entrypoint: "swagger serve --no-open -p 40455 --host=0.0.0.0 /api/swagger.json"
      networks:
        - net
