[Unit]
Description=NERDZ. A mix Between a forum and a social network
After=docker.service

[Service]
Restart=always
Type=simple
WorkingDirectory=auto-replace-me
ExecStart=auto-replace-me/nerdz_venv/bin/docker-compose up --no-recreate
ExecStop=auto-replace-me/nerdz_venv/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
